* {
    --bg-color: #0c1a3c;
    --fg-color: #fa7eff;
}

html, body {
    height: 100%;
}

body {
    font-family: "Liberation sans", sans;
    margin: 0 3%;
    background-color: var(--bg-color);
    color: var(--fg-color);
    display: flex;
    flex-direction: column;
}

.spacer {
    flex-grow: 1;
}

footer p {
    margin-top: 100px;
    font-size: 0.8em;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

main .index li {
    margin: 2px 0;
}

header h1 {
    font-size: 2.5em;
    text-transform: uppercase;
}

header nav a {
    margin-right: 7px;
}

header, nav {
    margin-right: 20px;
}

ul.clips {
    max-width: 915px;
    column-count: 3;
    column-gap: 0;
}

ul.clips li {
    margin-right: 10px;
    margin-bottom: 5px;
}

ul.clips li a {
    display: block;
    width: 300px;
    position: relative;
    left: 0;
    top: 0;
    /*! border: solid 1px; */
}

ul.clips img.background {
    position: absolute;
    left: 0;
    display: none;
    top: 0;
}

ul.clips img.foreground {
    display: block;
    position: relative;
    left: 0;
    top: 0;
}

ul.clips h2 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    color: white;
    text-shadow: 1px 1px 1px #000000d6;
    display: none;
}    

ul.clips {
    a:hover, a:focus {
        img.background, h2 {
            display: block;
        }
    }
}


span.year {
    opacity: 0.5;
    font-size: 0.8em;
}

/** HOME */


main.home {
    max-width: 533px;
}


main.home nav a {
    font-size: 1.5em;
    margin: 10px 0px;
    background: var(--fg-color);
    color: var(--bg-color);
    padding: 6px 10px;
    display: block;
    opacity: 0.8;
}
  
main.home nav a:hover {
    text-decoration: none;
    opacity: 1;
    background: var(--bg-color);
    color: var(--fg-color);
    outline: solid 1px;
}

/** CLIP */

div.tags a {
    margin-right: 7px;
}

video {
    max-width: max-content;
    width: 100%;
}

/** MOVIE */


.infos .label {
    font-size: 0.8em;
  }


.infos > * {
    margin: 4px 0;
}

/** Movie external databases */

.extDb > a {
    padding: 2px 4px;
    opacity: 0.65;
    margin-right: 4px;
  
}

.wikipedia {
    background-color: white;
    color: black;
}

.tmdb {
    background-color: blue;
    color: white;
}

.imdb {
    background-color: yellow;
    color: black;
}

.extDb > a:hover, .extDb > a:focus {
    text-decoration: none;
    opacity: 1;
}


/** AR INDEX */


.ar {
    background: var(--fg-color);
    color: var(--bg-color);
    display: block;
    margin: 5px 0;
    text-align: center;
}

a.ar:hover {
    text-decoration: none;
    outline: solid 1px var(--fg-color);
    outline-offset: 1px;
}


/** MEDIA QUERIES */

@media (max-width: 1000px) {
    ul.clips {
        max-width: 610px;
        column-count: 2;
    }
}

@media (max-width: 670px) {
    ul.clips {
        column-count: 1;
    }
}

